@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 
* {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
.carousel-1{
    margin: 3%;
    }
    
    .Carousel {
        align-items: center;
        align-self: center;
        justify-content: center;
    
    }
    

    
    .img-persona{
        width: 80%;
        margin-left: 10%;      
    }
    
    .caption{
        position: relative;
        left: 0;
        right: 0;
        /* bottom: 1.25rem; */
        /* padding-top: 1.25rem; */
        margin: auto;
        color: #fefefe;
        text-align: center;
        width: 75%;
    }
