@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 

* {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Quicksand', sans-serif;
}



.white-background{
background-color: white;
}


.background-redesign{
    margin-left: 250px;
    margin-right:250px;
    padding-top: 50px;
}

.redesign-intro-words{
    padding-top: 200px;
    padding-left: 270px;
    padding-right: 270px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fafdd5;

}

.foot-yellow{
    background-color: #fafdd5;
    margin-top: 50px;
}


.redesign-intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redesign-header-img{
    width: 45%;
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    background: linear-gradient(315deg, #e7e4b9, #e2e2ca);
    box-shadow:  -31px -31px 93px #acac96,
                31px 31px 93px #dad88d;

}


.header-redesign{
    font-weight: bold;
    margin-top: 100px;
    font-size: 45px;
}


h4{
    font-weight: bold;
}

.list{
    padding: 0px;
}

.project-background{
    display: flex;
    justify-content: space-between;
}

p, b{
    line-height: 150%;
    font-size: 20px;
    margin-bottom: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0;
    /* padding-top: 10px; */
    padding-bottom: 20px;
  }

  li{
    line-height: 150%;
    font-size: 20px;
    margin-bottom: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0;
    /* padding-top: 5px; */
    font-weight: normal;
  }

  .small-nav{
      display: flex;
      flex-direction: column;
      
  }

  .nav-link{
    cursor: pointer;
    font-size: 22px;
  }

  .nav-link:hover {
    text-decoration: underline;
    color: black;
  }


  .nav-link-href{
    cursor: pointer;
    font-size: 22px;
    padding-top: 10px;
    text-decoration: none;
  }

  .nav-link-href:hover {
    text-decoration: underline;
    color: black;
  }
  
  .accessibility{
      margin-top: -100px;
  }

h1{
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 15px;
}

h3{
    padding-top: 10px;
}

.final-link{
    font-size: 24px;
}

.iframe-padding-top {
    padding-top: 20px;
}

.implementing-interaction{
    margin-top: -65px;
}

.head{
    margin-top: 20px;
}